<%- include("../conn/header.ejs") %>
<%- include("../frontviewComm/navbar.ejs") %>
<div class="content-wrapper" style="margin: 0px !important;; ">
    <section class="content-header">
      <div class="container-fluid">
        <h1 class="text-center text-uppercase mb-5">Frequently Asked Questions</h1>
      </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-12" >
                <div class="questions-container">
                    <div class="question">
                        <b>Is there any public transit available? </b>
                        <p>Roam Public Transit provide multiple bus routes throughout the Banff and Lake Louise area to popular locations including Lake Louise, Johnston Canyon, Banff Gondola, Lake Minnewanka and more.

                            Roam Transit's core routes operate year round and additional seasonal routes are added in the summer months to accommodate popular summer locations.</p>
                    </div>
            
                    <div class="question">
                        <b>Is there parking available? </b>
                        <p>The Town of Banff is only 4-square-kilometres in area, making walking and cycling the best way to get around. Parking is limited in the downtown core, park in the Train Station Public Parking Lot for up to 9 hours. It’s free and less than a 10-minute walk to downtown Banff. Additionally Roam Public Transit serves the entire town and connects with all major attractions in Banff National Park, with stops near major parking areas.

                            Find a Banff parking map (including RVs) and current capacity of Banff parking lots on the Town of Banff’s parking page.
                            
                            Paid parking is in effect in downtown Banff, and is best for short-term parking. Visit the Town of Banff website for further details.</p>
                    </div>
            
                    <div class="question">
                        <b>How many days it will take to tick off the hot spots in Banff and Lake Louise?</b>
                        <p>There are some experiences in Banff and Lake Louise that simply can’t be missed. It’s a subjective list, but five days is a good length of time to tick off the world-famous hot spots.

                            You’ll need at least a day in the Lake Louise region to wrap your mind around the beauty of the namesake lake, nearby Moraine Lake, and the unbelievable charm of the village. In July and August, these areas are wildly popular, so plan your exploration for mid-week and off-peak hours.
                            
                            Dedicate another day to exploring the Banff townsite and its lively shopping scene, as well as the points of natural beauty that are easily accessible from the town, such as Bow Falls, Tunnel Mountain and Vermilion Lakes. If you’re a hiker, you can tick off the must-do biggies and still have time ask for a local’s recommendation for another day.</p>
                    </div>
            
                    <div class="question">
                        <b>Is there any wildlife in banf?</b>
                        <p>Banff National Park is home to hundreds of diverse species of wildlife. Look to the skies and you may see bald eagles circling overhead, or one of 260 other species of birds that live here. Grizzly bears and black bears roam the peaks and valleys, as well as moose, elk, wolves and cougars. Keep an eye out as you drive through the park’s mountain roads and you might even see bighorn sheep bounding up the hillsides. Learn more about the species found in Banff National Park.</p>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
<%- include("../frontviewComm/footer.ejs") %>
<!-- Footer End -->
<%- include("../conn/footer.ejs") %>