@import url(https://fonts.googleapis.com/css?family=Heebo:400,700|open+sans:400,700);

:root{
    --color: #3c3163;
    --transition-time: 0.5s;
}

*{box-sizing:border-box;}

body{
    margin: 0%;
    min-height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    background: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/leslie-street-spit-toronto-canada-sunset-brian-carson.jpg);
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a{color: inherit;}

.cards-wrapper{
    display:contents;
    justify-content:center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-area: 4rem;
    padding: 4rem;
    margin: 2rem;
    width: max-content;
}
.card{
    font-family: 'Courier New', Courier, monospace;
    --bg-filter-opacity:0.5;
    background-image: linear-gradient(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity)),var(--bg-img);
    height: 9em;
    width: 9em;
    font-size: 1.5em;
    color: rgba(247, 246, 246, 0.625);
    border-radius: 1em;
    padding: 1em;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    box-shadow: 0 -5em -1em black;
    transition: all, var(--transition-time);
    position: relative;
    overflow: hidden;
    border: 10px white;
    text-decoration: none;
}

.card:hover{transform: rotate(0);}
.card h1{
    margin: 0%;
    font-size: 1.5em;
    line-height: normal;
}

.card p{
    font-size: 0.75em;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 0.5em;
    line-height: 2em;
}

.card .tags{display: flex;}
.cards .tags .tag{
    font-size: 0.25em;
    background-color: rgba(255,255,255,0.5);
    border-radius: 0.3rem;
    padding: auto;
    margin-right: 0.5em;
    line-height: 3em;
    transition: all, var(--transition-time);
}

.card:hover .tags .tag{
    background: var(--color);
    color: #ddd;

}

.card::before, .card:after{
    content: ' ';
    transform: sale(0);
    transform-origin: top left;
    border-radius: 50%;
    position: absolute;
    left: -50%;
    top:  -50%;
    z-index: -5;
    transition: all, var(--transition-time);
    transition-timing-function: ease-in-out;
}

.card::before{
    background: #ddd;
    width: 230%;
    height: 230%;
}
.card::after{
    background: #ddd;
    width: 180%;
    height: 180%;
}

.card:hover{color: var(--color);}
.card:hover:before, .card:hover:after {transform: scale(1);}
.card-grid-space .num{
    font-size: 3em;
    margin-bottom: 1.2rem;
    margin-left: 1rem;
}
.info{
    font-size: 1.2em;
    display: flex;
    padding: 1em 3em;
    height: 3em;
}

.info img{height: 3em; margin-right: 0.5em;}
.info h1{height: 1em; font-weight: normal;}
