<%- include("../conn/header.ejs") %>
 <style>
    .package_image_img{
            max-width: 300px;
    }
    .package_content{
        display: flex;
        flex-direction: column;
        max-width: 600px;
        margin-left: 20px;
         line-height: 1.7rem;

    }
    .package_booking{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 300px;
    }
    .heading_package{
       border-bottom: 2px  dotted grey;
    }
    .package_dureastion{
       margin-top:8px;
    }
    .package_location{
        margin-top: 8px;
    }
    .author-stars {
    display: flex;
    flex-direction: column;
 
    align-items: center;
    justify-content: center;
    
}
    .type-price {
	display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

 </style>
<%- include("../frontviewComm/navbar.ejs") %>
 <div class="container" style="min-height:100vh;">
   <div class="card">
      <div class="card-body pt-5 mt-5" style="display: flex; justify-content: space-evenly;">
         <div class="package_image" >
         <img class="package_image_img" src="/profile/<%=pack.packageImage %>" alt="">
         </div>
         <div class="package_content">
               <h5 class="heading_package">
                <%= pack.packageTitle %>
               </h5>
               <div class="package_location"><i class="fas fa-location-arrow">
	       
  
