/*Navigation Bar*/
nav {
  background-color: #333;
  width: 100%; /* stretch to the end */

}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex; /* use flexbox to align items */
  justify-content: space-between; /* align items to the right and left */
}

nav li {
  flex: 1; /* take up equal space on the navbar */
}

nav a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}


/*Login Signup Css*/

h1{
  text-align: center;
  margin-bottom: 1em;
}

form {
  max-width: 300px;
  margin: 0 auto;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form h2 {
  text-align: center;
  margin-bottom: 1em;
}

form label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}

form input[type="text"], form input[type="password"] {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: #3e8e41;
}
