<%- include("../conn/header.ejs") %>
<%- include("../frontviewComm/navbar.ejs") %>
<div class="content-wrapper" style="margin: 0px !important;; ">
    <section class="content-header">
      <div class="container-fluid">
        <h1 class="text-center text-uppercase mb-5">Frequently Asked Questions</h1>
      </div>
    </section>
<%- include("../frontviewComm/footer.ejs") %>
<!-- Footer End -->
<%- include("../conn/footer.ejs") %>
